# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\ROBERT-PC\Documents\School\Carleton\Third year\First semester\SYSC 3110\Labs\SYSC-3110-Lab-3\Tutorial 2\zuul-bad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
